a.sign-back(href="#")
  span Вернуться к входу в профиль

h2.sign-title Регистрация

sign-up-plain-form.form.sign-form.mod-tabs

// еще одна форма регистрации. что бы увидеть убираем is-hide
sign-up-request-form.form.sign-form.mod-tabs.is-hide
