div.fix

  h1.page-title Home Page

  box.box([title]=['Home Page Box'])
    p NG content in Home Page Box

    div.page-ico-list
      h3 Svg inline icons

      svg.svg-ico.svg-ico-ball
        use(xlink:href="#ball")

      svg.svg-ico.svg-ico-ball.mod-red
        use(xlink:href="#ball")

      svg.svg-ico.svg-ico-ball.mod-blue
        use(xlink:href="#ball")

      svg.svg-ico.svg-ico-ball.mod-green
        use(xlink:href="#ball")