div.sign-box
  div.box-data
    div.sign-logo
      a.logo-link(ui-sref="public.landing.show") drotrmarket

    div.fix
      router-outlet

    p.sign-copyright 2015 © DrotrMarket. All rights reserved
